.navbar{margin-bottom: 30px;}
.navbar .main-wrapper{display: flex;justify-content: space-between;align-items: center;padding:10px 0}
.navbar .logo h1{font-size: 48px;font-weight: 700;}
.navbar .logo span{font-weight: 600;color:#ccc}
.navbar .menu svg{height:40px;width:40px}
.type-filters{width:55%;}
.type-filters ul{display: flex;justify-content: space-between;}
.type-filters input{height:18px;width:18px;border:2px solid #000;border-radius: 2px;vertical-align: middle;margin-right: 6px;}
.type-filters label{font-size: 14px;line-height: 18px;vertical-align: middle;font-weight: 600;}
.search-filters{width: 40%;border-bottom: 2px solid #000;}
.search-filters input{width:100%}
.filters-wrapper{margin-bottom: 60px;}
.filters-wrapper .main-wrapper{display: flex;justify-content: space-between;}
.filters-wrapper h1{font-size: 24px;line-height: 28px;font-weight: 700;margin-bottom: 20px;}
table {border-collapse: collapse;width: 100%;}
td, th {border: 1px solid #cccaca;text-align: left;padding: 12px;}
tr:nth-child(odd) {background-color: #f5f5f5;}
tr:first-child{background-color: #e2e2e2;}
.results-wrapper{margin-bottom:50px}

